body{
    padding-top: 100px;
}

.holder{
    padding: 20px;
    color: white;
}

.inner-holder{
    background-color: #23272d;
    border-radius: 15px;
}

.overlay{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    opacity: 0;
    border-radius: 15px;
    transition: .5s ease;
    background-color: #23272d;
}

.img-holder{
    height: 200px;
}

.txt-overlay{
    color: white;
}

.overlay:hover{
    opacity: 1;
}

img{
    height: 150px;
}